section {
  /*background: transparent url("../../assets/background.jpg") no-repeat fixed center center;*/
  background-color: transparent;
}

.header-background {
  height: 65px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #D4FFC5;
  height: 75px;
}

.pokemon-name {
  margin: 4px;
}

.pokemon-number {
  margin: 4px;
}

.pokemon-image {
  width: 200px;
  height: 200px;
}

.image-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fact-background {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 300px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  margin: 50px;
  background-color: #D4FFC5;
}

.poke-fact {
  margin: 20px;
}

.poke-fact-small-table {
  height: 80%;
  width: 80%;
}

.row-title {
  font-size: 20px;
  font-weight: bold;
}

.row-content {
  font-size: 20px;
}


