<section>
  <div class="main-content">
    <div class="row1">
      <div class="image-background">
        <img class="pokemon-image" src="{{ pokemon?.imageUrl }}" />
      </div>
    </div>
  </div>

  <p>{{ pokemon?.id }}</p>
  <p>{{ pokemon?.name }}</p>
  <p>{{ pokemon?.description }}</p>
  <p>{{ pokemon?.height }}</p>
  <p>{{ pokemon?.weight }}</p>
  <p>{{ pokemon?.types }}</p>
  <p>{{ pokemon?.abilities }}</p>

  <p>{{ pokemon?.id }}</p>
  <p>{{ pokemon?.name }}</p>
  <p>{{ pokemon?.description }}</p>
  <p>{{ pokemon?.height }}</p>
  <p>{{ pokemon?.weight }}</p>
  <p>{{ pokemon?.types }}</p>
  <p>{{ pokemon?.abilities }}</p>
  <p>{{ pokemon?.id }}</p>
  <p>{{ pokemon?.name }}</p>
  <p>{{ pokemon?.description }}</p>
  <p>{{ pokemon?.height }}</p>
  <p>{{ pokemon?.weight }}</p>
  <p>{{ pokemon?.types }}</p>
  <p>{{ pokemon?.abilities }}</p>
  <p>{{ pokemon?.id }}</p>
  <p>{{ pokemon?.name }}</p>
  <p>{{ pokemon?.description }}</p>
  <p>{{ pokemon?.height }}</p>
  <p>{{ pokemon?.weight }}</p>
  <p>{{ pokemon?.types }}</p>
  <p>{{ pokemon?.abilities }}</p>
  <p>{{ pokemon?.id }}</p>
  <p>{{ pokemon?.name }}</p>
  <p>{{ pokemon?.description }}</p>
  <p>{{ pokemon?.height }}</p>
  <p>{{ pokemon?.weight }}</p>
  <p>{{ pokemon?.types }}</p>
  <p>{{ pokemon?.abilities }}</p>
</section>
