<section>
  <div>
    <p>
      All credit for Pokemon goes to 2019 Pokémon. 1995–2019 Nintendo/Creatures
      Inc./GAME FREAK inc. Pokémon, Pokémon character names Nintendo Switch,
      Nintendo 3DS, Nintendo DS, Wii, Wii U, and WiiWare are trademarks of
      Nintendo
    </p>
    <p>
      All Credit for this information goes to the PokeAPI which is a website
      that provides a RESTful API interface to highly detailed objects built
      from thousands of lines of data related to Pokémon. Using this website,
      you can consume information on Pokémon, their moves, abilities, types, egg
      groups and much, much more.
    </p>
  </div>
</section>
