section div p {
  font-size: 30px;
}

section div + p {
  font-weight: bold;
  font-size: 20px;
}

mat-tab-group {
  text-align: center;
}

.pokemon-tile-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
